better-atmosphere{
    display: block;
    width:100%;
    background: orange;
    border-top:thin solid;
    margin-top:10px;
}
better-atmosphere div{
    margin:10px 0;
}
.error{
    background: red;
    width: 200px;
    text-align: center;
}
.error:after{
    content:'unknown component';
}