## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.class
pom.xml.old
version.info

## intellij project files
*.iml
*.ipr
*.iws
.idea
## eclipse project files
.classpath
.project
.settings


## directories to ignore
.svn
resource/target/*
target/*
betty/target/*
core/target/*
eXist/target-utils/*
eXist/target/*
tools/installer/target/*
tools/editor/target/*
web/target/*
xApp/target/*
zaphod/target/*

## files to ignore
*/betterform-install-*
