## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.class
pom.xml.old
version.info

## intellij project files
*.iml
*.ipr
*.iws
.idea
## eclipse project files
.classpath
.project
.settings


## directories to ignore
.svn
resource/target/*
target/*
betty/target/*
core/target/*
XRX/target-utils/*
XRX/target/*
tools/installer/target/*
tools/installer/target-utils/*
tools/editor/target/*
##Ignore generated Java-Tests
web/src/test/java/de/betterfrom/conformance/xf11/*
web/target/*
xApp/target/*
zaphod/target/*

## files to ignore
tools/installer/betterform-*install*
tools/installer/release/*
build.properties.local.xml
