.gitignore
betterform-project.iml
betterform-project.ipr
betterform-project.iws

core/betterform-core.iml
web/betterform.iml
betty/betty.iml
xApp/xApplication.iml
zaphod/zaphod.iml

core/pom.xml.old
web/pom.xml.old
betty/pom.xml.old

core/target*
web/target*
betty/target*
