@namespace xforms url(http://www.w3.org/2002/xforms);

xforms|input::value { border: dotted; background-color: orange; }

xf\:label.title, xforms|label.title 
{
    font-size: 15pt; 
    font-weight: bold;
    color: #000099;
    margin-bottom: 2em;
}