@namespace xforms url(http://www.w3.org/2002/xforms);

.docTitle {font-weight: bold; font-size: 20pt;}

xforms|*:invalid
{
  background-color: red;
}

xforms|*:disabled
{
  visibility: hidden
}

body {
  padding: 2em 1em 2em 40px;
  margin: 0;
  font-family: sans-serif;
  font-size: 9pt;
  color: black;
  background: white;
}

xf\:label.title, xforms|label.title 
{
    font-size: 15pt; 
    font-weight: bold;
    color: #000099;
    margin-bottom: 2em;
}

xf\:label.subtitle, xforms|label.subtitle
{
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 2em;
}

xf\:label, xforms|label
{
	font-size: 9pt;
	color: black;
	margin-bottom: 1em;
}

xf\:group, xforms|group
{
    PADDING-RIGHT: 0.5em;
    DISPLAY: block;
    PADDING-LEFT: 0.5em;
    PADDING-BOTTOM: 1em;
    PADDING-TOP: 1em;
}


h1 {color: black;}
h2 {color: black;}
.testChapterTitle {padding: 5px;}
.driverPageTitle {width: 993px; background-color:	RGB(216,216,216); padding: 5px;}

.testCaseNameTitle {color:white; background-color:#4169E1; font-weight: bold; text-align:center;}
.specLevelTitle {color:white; background-color:#4169E1; width: 54px; font-weight: bold; text-align:center;}
.testCaseDescriptionTitle {color:white; background-color:#4169E1; width: 348px; font-weight: bold; text-align:center;}
.testCaseSpecLinkTitle {color:white; background-color:#4169E1; font-weight: bold; width: 77px; text-align:center;}
.testCaseBasicTitle {color:white; background-color:#4169E1; width: 50px; font-weight: bold; text-align:center;}
.testCaseStatusTitle {color:white; background-color:#4169E1; width: 100px; font-weight: bold; text-align:center;}
.testCaseNormativeTitle {color:white; background-color:#4169E1; width: 80px; font-weight: bold; text-align:center;}
.testCaseDateTitle {color:white; background-color:#4169E1; width: 109px; font-weight: bold; text-align:center;}
.testCaseNoteTitle {color:white; background-color:#4169E1; width: 143px; font-weight: bold; text-align:center;}



