@import url(../scripts/jscalendar-0.9.6/calendar-system.css);

/* ***************************************************************************** */
/* ************** CSS STYLESHEET FOR STYLING XFORMS INSIDE OF HTML ************* */
/* this stylesheet uses table layout which may not be supported on all browsers. */
/* ***************************************************************************** */
body{background-color:#aabbdd;}
a.link{color:#444444;}
a.visited{color:#444444;}
a.active{color:#444444;}

xforms:model {
    display: none;
}

*{font-family:sans-serif;
  font-size:8pt;
}
.invalid > .alert{
    position:relative;
    border:thin solid;
    background-color:white;
    color:red;
    padding:2px;
    height:14px;
    margin-left:2px;
}

.valid .alert{
    display:none;
}
.invalid .value{background:red;}
.invalid input{background:red;}
.required::after{
    content:"*";
    color:red;
}

.required-symbol{
    color:red;
    vertical-align:top;
}

.enabled {
}

.disabled .label*{
    display:none;
}
.disabled .value{
    display:none;
}
.disabled {
    display:none;
}

input:hover{
    background-color:#aabbff;
    }
input:focus{
    background-color:#aabbff;
    color:white;
    }
textarea:hover{
    background-color:#aabbff;
}
textarea:focus{
    background-color:#aabbff;
    color:white;
}

.selector-item {
}
.selector-prototype {
    display:none;
}

/* betterForm-logo on forms pages - linked to forms page */
img#betterform-logo:hover{
    background-color:#aabbff;
}

.legend{
    display:block;
    width:150px;
    border:thin groove;
    padding:2px;
    color:#888888;
    align:center;
    }

/* ************************** XFORMS STYLES ************************************ */
/* ************************** XFORMS STYLES ************************************ */
/* ************************** XFORMS STYLES ************************************ */

/* #################### Repeat styles #################### */

/* ### XForms pseudo elements for repeat ### */
.repeat-header {
}
.repeat-item {
}
.repeat-index {
    background-color:orange;
}
.xfRepeatPrototype {
    display:none;
}

/* ### betterForm custom ### */
.minimal-repeat{
}
.minimal-repeat.repeat-item{
    display:block;
}

.compact-repeat{
}
.compact-repeat > repeat-item{
    display:table-row;
}

.full-repeat{
    display:block;
}

/* ### FULL REPEAT STYLES ### */
.full-repeat > .repeat-selector{
    vertical-align:top;
}

.repeat-selected {
    white-space:nowrap;
    background-color:#dddddd;
}

.repeat-deselected {
    white-space:nowrap;
    background-color:#dddddd;
}

.minimal-repeat-selected{
    display:block;
    white-space:nowrap;
    background-color:#eeeeee;
}
.minimal-repeat-deselected{
    display:block;
    white-space:nowrap;
    background-color:#eeeeee;
}

.minimal-repeat-selector {
    background-color:#eeeeee;
    height:100%;
}

/* ### selector style if in table ### */
.selector-cell{
    background-color:#cccccc;
    vertical-align:top;
    align:center;
}

/* ### applies only to compact style - the empty cell in the upper left corner of the table ### -->
.repeat-selector-header{
}

/* #################### GROUP STYLES #################### */

/* ### FULL GROUP STYLES ### */

/* ### class for styling complete table ### */
.full-group{
    border:none;
    background-color:#eeeeee;
    padding:2px;
    }
.full-group-label{
    background-color:#eeeeee;
    font-size:10pt;
    border-bottom:thin solid;
    padding-top:5px;
}

/* ### COMPACT GROUP STYLES ### */
.compact-group{
    }
.compact-group-label{
    background-color:#eeeeee;
    font-size:10pt;
    border-bottom:thin solid;
    padding-top:5px;
}


/* ### MINIMAL GROUP STYLES ### */
.minimal-group{
    display:block;
    background-color:#eeeeee;
    padding:5px;
    }
.minimal-group-label{
    background-color:#eeeeee;
    display:block;
    font-size:10pt;
    border-bottom:thin solid;
    padding-top:5px;
    }


/* #################### SWITCH STYLES #################### */
/* TODO!!! */
.selected-case{
    display:block;
}

.deselected-case{
    display:none;
}

/* #################### CONTROL STYLES #################### */


/* ### class equivalent for XForms pseudo element 'value'  ### */
.value{
}

/* ### example rules for styling the actual controls (widgets) ### */
.trigger > .value{
    margin-top:2px;
    background-color: #aabbdd;
    color: #000000;
    border-width:1pt;
    border-style:ridge;
    border-color:#444444;
    font-size: 8pt;
    font-family: sans-serif;
}
.trigger > .value:active{
    color:orange;
}
.trigger > .value:hover{
    background-color:#aabbff;
}

.submit > .value{
    margin-top:2px;
    background-color: #aabbdd;
    color: #000000;
    border-width:1pt;
    border-style:ridge;
    border-color:#444444;
    font-size: 8pt;
    font-family: sans-serif;
}
.submit > .value:active{
    color:orange;
}
.submit > .value:hover{
    background-color:#aabbff;
}

.textarea > .value{
    width:380px;
    height:100px;
    }


/* #################### COMMON CHILDREN #################### */
.label {
}
.help {
    display:inline;
}

.required::after{
    content:"*";
    color:red;
}

.alert{
    position:absolute;
    border:thin solid;
    background-color:white;
    color:red;
    padding:2px;
    margin-left:2px;
}


/* #################### CUSTOM STYLES #################### */

.splash-screen {
    text-align:center;
    margin-top:25%;
    margin-left:25%;
    margin-right:25%;
    background:#eeeeee;
    padding:20px;
}

.splash-image {
    background: url(../images/betterform50t.gif) no-repeat center;
    height: 50px;
}

.error-screen {
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    background:#eeeeee;
    padding:20px;
}

.error-image {
    background: url(../images/betterform50t.gif) no-repeat left;
    height: 50px;
}

.error-message {
    color:darkred;
}
