@namespace xforms url(http://www.w3.org/2002/xforms);

.header{
    font-weight:bold;
    font-size:12pt;
    margin-top:10px;
}
.header .xfValue{
    font-weight:bold;
    font-size:12pt;
}

.xfLabel {
    width:120px;
    display:block;
    float:left;
    clear:both;
}

#testsuiteTable{
    width:100%;    
}

.xfRepeatHeader td {
    color:white;
    background-color:#4169E1;
    font-weight: bold;
    padding:2px 2px 2px 0px;
}
.xfRepeatItem td {
    padding:5px;
}
.col-2 {
    width:120px;
}
.col-2 {
    width:120px;
}
.col-8 {
    width:206px;
}
.col-8 .xfControl {
    width:200px;
}

/*.col-9 {
    width:42px;
}*/
.xsdDate .xfValue {
    width:80px;
}

.bf h1,
.tundra h1,
.soria h1{
    font-size:18pt;
}

.bf h3,
.tundra h3,
.soria h3{
    font-size:12pt;
}

.xfSubmit {
    display:inline;
}

form {
    border:thin dotted;
    padding-left:10px;
}


.testCaseNote .xfValue {
    width:200px;
}
/*
#testchooser {
    width:700px;
}
#testchooser td {
    width:120px;
}
*/
#testchooser .config {
    width:400px;
}
#testchooser .config .xfLabel{
    float:left;
}

#betterformVersion .xfValue {
    width:160px;
}
#testchooser .header {
    font-weight:bolder;
    font-size:large;
}
#testchooser .config .xfInput .xfValue{
    width:80px;
}

#betterformVersion .xfValue {
    width:160px;
}

.col-1 xfLabel{
    width:150px;

}
#osVersion .xfLabel,
#browserVersion .xfLabel{
    width:10px;
    padding:3px;
}


#resultoverview  .testCaseSummaryTitle {
    font-weight:bold;
}
#resultoverview  .passed {
    background:lightgreen;
    text-align:center;
}
#resultoverview  .failed {
    background:lightsalmon;
    text-align:center;
}
#resultoverview  .total {
    text-align:center;
}

#resultoverview .tableheader td {
    font-weight:bold;
}
#resultoverview td {
    padding:3px;
}

