<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Sampleapplication for forwarding Responses to betterForm.</description>
    <display-name>Sample Application</display-name>
    <distributable/>
    <filter>
        <filter-name>CrossContextFilter</filter-name>
        <filter-class>de.betterform.agent.web.filter.CrossContextFilter</filter-class>
        <init-param>
            <param-name>xforms.engine.webcontext</param-name>
            <param-value>betterform</param-value>
        </init-param>
    <init-param><param-name>xforms.engine.servlet</param-name><param-value>/repeater</param-value></init-param>
        <init-param>
            <param-name>xforms.engine.resources</param-name>
            <param-value>/SampleApp/forms/forward</param-value>
        </init-param>
        </filter>
    <filter-mapping>
        <filter-name>CrossContextFilter</filter-name>
        <url-pattern>/forms/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>Everything</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>standart</role-name>
            <role-name>manager</role-name>
            </auth-constraint>
        </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>this</realm-name>
        </login-config>
    <security-role>
        <description/>
        <role-name>standart</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>manager</role-name>
    </security-role>
    </web-app>
