<!--<script src="../jquery.js"></script>-->
<polymer-element name="bf-app">
    <script>
        Polymer('bf-app', {
            changelist:[],

            ready: function() {
                console.log(this);
            },

            changed:function(changed){
                console.log("changed id: ", changed.id );
                this.changelist.push(changed);
            },

            submit:function(){
                console.log("submit changes");
                this.changelist.forEach(function(change) {
                    console.log(change.id);
                });

            }
        });


    </script>
</polymer-element>