<script src="../jquery.js"></script>
<element name="my-element" extends="div">
    <section>
        <span id="foo">Hello World!</span>
        <content></content>
    </section>
    <footer>nothing to see here</footer>
    <script>
        // When <element> is in document, might run in wrong context.
        // Only do work when this == <element>.
        if (this !== window) {
            var section = this.querySelector('section');
            this.register({
                prototype: {
                    readyCallback: function() {
                        this.innerHTML = section.innerHTML;
                    }
                }
            });
        }
    </script>
</element>
