<!--<script src="../jquery.js"></script>-->
<polymer-element name="tk-element" touch-action="none" on-tap="makeEditable">
    <script>
        Polymer('tk-element', {


                ready: function() {
                    console.log(this);

                    //to add an eventhandler from within
/*
                    var self=this;
                    this.addEventListener("click", function(e){
                        console.log(self , "vor");
                        // self.isEditable=true;
                        self.setAttribute("contenteditable","true");
                        self.focus();
                        e.preventDefault();
                        e.stopPropagation();
                    });
*/

                },

                 makeEditable:function(e){
                     console.log("makeEditable", this );
                     // this.isEditable=true;
                     this.setAttribute("contenteditable","true");
                     this.focus();
                }

        });


    </script>
</polymer-element>