body {
    counter-reset: h2;
}

h2 {
    counter-increment: h2;
    counter-reset: h3;
}

h2:before {
    content:counter(h2) " ";
}


h3:before  {
    content: counter(h2) "." counter(h3) " ";
}

h3:before  {
    counter-increment: h3;
}

