@namespace xforms url(http://www.w3.org/2002/xforms);

/* Make relevant form controls orange*/
*:required { background-color: red; }
/* Make non-relevant form controls blue*/
*:optional { background-color: blue; font-weight: bold; }

xf\:label.title, xforms|label.title 
{
    font-size: 15pt; 
    font-weight: bold;
    color: #000099;
    margin-bottom: 2em;
}