*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    padding:0;
    margin:0;
    color:#363636;
    overflow:auto;
    background:#565656 url(http://www.betterform.de/images/bg_footer.jpg);
    font-size:10pt;
}
#banner {
	background:white;
	min-width:800px;
	height:121px;
}
#banner a  {
	color: #488aa6;
	text-decoration:none;

}

banner a:focus,
banner a:visited,
banner a:hover,
banner a:active {
        color: #488aa6;
        text-decoration: underline;
}


#header {
	padding-left:20px;
	padding-top:10px;
	position:relative;
	top:32px;
}

#siteheader {
	color:#488AA6;
	display:block;
	float:left;
	font-size:large;
	left:280px;
	letter-spacing:0.03em;
	position:absolute;
	top:80px;
	min-width:400px;
	width:400px;
}

#search {
	padding-right:10px;
}
#metanav {
	padding-right:10px;
}

#mainnav {
	background:white;
	color:#488aa6;
	font-weight:normal;
	text-decoration:none;
	padding-right:10px;
	margin:0;
}


#main {
	background:#D3D3D3 none repeat scroll 0 0;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
}

#main a {
	color:#488AA6;
	font-weight:normal;
	text-decoration:none;
}

#main a:focus,
#main a:hover,
#main a:visited	
#main a:active {
	text-decoration: underline;
    color:#488aa6;
}

#footer {
	display:none;
}


#sitefooter{
    text-align:center;
    height:120px;
    overflow:hidden;
    padding-bottom:50px;    
}
.pageMarginBox{
    width:760px;
    margin-left:auto;
    margin-right:auto;
}


#shadowBottom{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	width:760px;
}

#bottomMenu{
    display:block;
    float:right;
    font-size:10pt;
    color:white;
    margin-top:10px;

}
#bottomMenu a {
	color:#FFFFFF;
	background: transparent;
    text-decoration:none;
}

#bottomMenu a:focus,
#bottomMenu a:hover,
#bottomMenu a:active {
	color: #488aa6;
	background-color: transparent;
	text-decoration: underline;

}

.menuDevider{
    font-weight:bold;
    color: #7ba841;
}


/* VARIOUS MIXED STYLES */
#footer {
	display:none;
}
.milestone .info h2 em {
	color:#488aa6;
}
#main .nav ul {
	font-size:11px;
}

em,
.wiki em, 
#main .wiki em, 
#main dt em {
	color:#488aa6 !important;
}

#main dd.changeset .changes {
	color:black;
	font-size:110%;
}

#main dd.changeset p  {
	font-size:130%;
	font-weight:bold;
	color:black;
}

.timeline h2 {
	background-color:transparent;
	border-bottom:4px solid #488AA6;
	color:black;
	font-size:105%;
	padding:5px;
	width:80%;
}
