/* ***************************************************************************** */
/* *** styles for betterForm website *** */
body {
    background-color: #eee;
}

* {
    font-family: sans-serif;
    font-size: 10pt;
    color: black;
}

a:hover {
    color: #dd5300;
}

td {
    font-family: sans-serif;
}

li {
    padding-right: 10px;
    margin-bottom: 2px;
}

.title {
    display: block;
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 10px;
    clear:both;
}

.subtitle {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: thin solid #cccccc;
    margin-right: 10px;
    margin-top: 1.5em;
    color: #4C5C5C;
}

.subtitle a {
    color: #4C5C5C;
}

#intro {
    font-weight: bold;
}

.para {
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}

#dear {
    display: block;
    margin-bottom: 2px;
}

.leftPane {
    /*border-right: thin groove;*/
    width: 160px;
    padding-top: 10px;
    text-align:right;
}

.leftPane span{
    display:block;
    /*padding-top:5px;*/
    /*padding-bottom:5px;*/
    font-weight:bold;
   
    
    
}

.leftPane span a{
    color:#4C5C5C;
    text-decoration:none;
}

.leftPane span a:hover{
    text-decoration:underline;
}

#donation-text {
    font-weight: bold;
    display: block;
    font-size: 8pt;
    padding: 5px;
}

.donation-button {
}

.donation-button:hover {
    border-color: orange;
}

.content-area {
    padding-left: 10px;
    padding-top: 10px;
    /*background-color: white;*/
    /*border-right: thin groove;*/
}

.demo {
    height: 500px;
}

#news {
    padding-left: 10px;
    padding-top: 10px;
    width: 150px;
}

#main .subtitle{
    margin-top: 0.5em;
}

#news .subtitle {
    display:none;
}

.headline {
    border: thin solid;
    border-color: #4C5C5C;
    -moz-border-radius: 6px;
    margin-bottom: 5px;
    padding: 3px;
    background-color: #ECF6D3;
}

.headline * {
    color: #4C5C5C;
}

.headline .para {
    font-style: italic;
}

.date {
    display: block;
    border-bottom: thin solid #4c5c5c;
    margin-bottom: 3px;
}

#osi {
    display: block;
    border: thin solid;
    border-color: #4C5C5C;
    -moz-border-radius: 6px;
    margin-bottom: 5px;
    padding: 3px;
    background-color: white;
    text-align: center;
}

#main {
    border: thin solid #4C5C5C;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px; /*background-color:#FCF6D3;*/
    background-color: #ECF6D3;
    -moz-border-radius: 6px;
}

#main * {
    color: #4C5C5C;
}

#nav {
    border-bottom: thin groove #4C5C5C;
}

#footer {
    border-top: thin groove;
    padding-top: 10px;
}

.questions {
    display: block;
    margin-right: 10px;
    margin-bottom: 20px;
    border-bottom: thin groove;
    padding-bottom: 10px;

}

.questions a {
    margin-bottom: 3px;
}

.answers .para {
    line-height: 1.4;
    text-align: justify;
}

#features {
    margin-right: 20px;
}

#featureheader * {
    font-size: 12pt;
}

.section {
    font-size: 12pt;
}

#features tr td {
    padding: 3px;

}

.chapter {
    background-color: white;
    font-size: 12pt;
}

.ready {
    background-color: forestgreen;
}

.partly {
    background-color: lightgreen;
}

.open {
    background-color: lightcoral;
}

.na {
    background-color: lightgray;
    color: darkgray;
}

.na-section {
    background-color: lightgray;
    color: black;
}
