body {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  background: -moz-linear-gradient(top, #aaaaaa 0%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* IE10+ */

  background: linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
  /* IE6-9 */

  font-size: 100%;
  font-family: "Montserrat", sans-serif;
}
body #header {
  width: 100%;
  height: 40px;
}
body #header #startButton {
  width: 32px;
  height: 32px;
  margin: 3px 0 0 10px;
  float: left;
}
body #header #user {
  margin: 9px 0 0 5px;
  float: left;
}
body #content {
  min-height: 600px;
  /*background: rgb(125, 126, 125); */
  /* Old browsers */

  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  min-width: 360px;
  /*
         ul li:after{
                position: absolute;
                left: 100px;
                bottom: 0px;
                width: 99%;
                height: 20%;
                border-radius: 0% 0 0 0;
                z-index: -1;
                content: "";
                box-shadow: -97px 0 19px rgba(0,0,0,0.18);
                -webkit-transform: skew(43deg);
                -moz-transform: skew(43deg);
                -ms-transform: skew(43deg);
                -o-transform: skew(43deg);
                transform: skew(43deg);
                -webkit-transform-origin: 0% 100%;
                -moz-transform-origin: 0% 100%;
                -ms-transform-origin: 0% 100%;
                -o-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
            }
            */

}
body #content ul {
  margin: 0;
  padding: 0;
}
body #content ul .appGroup {
  width: auto;
  height: auto !important;
  border: thin solid #555555;
  background: -moz-linear-gradient(top, #aaaaaa 0%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* IE10+ */

  background: linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
  /* IE6-9 */

}
body #content ul .appGroupIcon span {
  color: #4682b4;
  font-style: italic;
}
body #content ul ul li {
  margin: 10px;
}
body #content ul li {
  list-style-type: none;
  float: left;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 15px;
  font-size: 1em;
  border-radius: 5px;
  color: #353535;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
  border-radius: 1% 1% 1% 1% 1% 1% 1%;
}
body #content ul li a,
body #content ul li button {
  height: 100%;
  text-decoration: none;
  margin: 10px;
  color: #777777;
  text-align: right;
}
body #content ul li a #exide,
body #content ul li button #exide {
  font-size: 5.0em;
  padding-top: 35px;
  text-align: center;
  width: 100%;
  position: relative;
}
body #content ul li span {
  float: right;
  width: 130px;
  color: #444444;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
body #content ul li img {
  float: left;
  width: 69%;
  margin: 5px 0 0 5px;
}
body #content #logo {
  background: url("existdb.gif") no-repeat center center #bdbdbd;
  width: 330px;
  height: 150px;
  opacity: 0.7;
}
body #content #existIconBack {
  display: none;
}
body #content .backside #logo {
  display: none;
}
body #content .backside #existIconBack {
  display: block;
  width: 330px;
  height: 150px;
  background: white;
  color: #666666;
  font-size: .8em;
}
body #content .twoColumn {
  width: 330px;
}
body #content #repoConfigIcon {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  opacity: 0.5;
}
/*
            #users{
                background: url("user-admin.png") no-repeat;
            }
    */
