body {
    background: #ffa07a;
    /*border: 1px solid blue;*/
}

.bf .xfControl .xfLabel {
    display: block;
    color: #2a00ff;
}

.bf .xfControl .xfValue {
    display: block;
}

table {
    border:none;
}
#debug-pane *,
#debug-pane {
    display: none;
}

