body {
    background: #f5f5f5;
}

#debug-pane {
    display: none;
}

.xfLabel {
    display: block;
}

.xfValue {
    display: block;
    color: red;
}

table {
    border: 5px solid green;
    width: 100%;
}
