html, body,#mainWindow {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #F3F3F3;
    overflow:auto;
}
#mainWindow #docWrapper{
    position:relative;
    margin: 33px 265px 30px 165px;
}
#docPane{
    background: transparent;
    border-radius: 10px;
    width:100%;
    float:left;
}
#xfDoc{
    overflow-x:hidden;
    background:transparent;
    border:none;
}
#root{
    background:white;
}
#xfDoc .jstree-hovered{
    width:100%;
    background:green;
    border-radius:10px;
}
#xfDoc .jstree-clicked{
    width:100%;
    background:red;
}
#topPane{
    background: #E6E6E7;
    width: 100%;
    position:fixed;
    z-index:100;
}
#topPane img{
    width:32px;
    height:32px;
    margin:9px;
    position:absolute;
    top:-6px;
    right:-6px;
}
#topPane a:link{
    color:#cccccc;
    text-decoration:none;
}
#topPane a:hover{
    border:thin solid limegreen;
    font-size:1.2em;
    padding:3px;
    background:white;
    color:#555555;
    border-radius:10px 10px 10px 10px
}
#leftPane{
    position:absolute;
    left:0;
    top:40px;
    width:160px;
    min-height:300px;
    overflow: hidden;
}
#leftPane #addLabel{
    font-size:1.5em;
    color:#eeeeee;
    background: #555555;
}
#leftPane #addLabel .caption{
    padding: 10px;
    font-size: 14pt;
}

#rightPane {
    position:absolute;
    right:0;
    top:40px;
    background: #666666;
    color:#e9e9e9;
    min-height: 200px;
    overflow: auto;
    width: 260px;
    border-left:thin solid #cecece;
    border-bottom:thin solid #cecece;
    border-bottom-left-radius:10px;
}
.jstree-default,.jstree-default{
    border: thin solid #bbbbbb;
    padding: 10px;

}
.jstree > ul > li{
}
#docPane .jstree li{
    border: thin solid #999999;
    border-radius: 5px;
    margin-bottom: 5px;
    line-height:24px;
    width: 95%;
}
.jstree a{
    font-size:1.2em;
    padding:5px;
    width:95%;
    position:relative;
}
#xfMount{
    background:#666666;
    color:#dedede;
}
#xfMount .attrEditor p{
    margin:0;
    line-height:1;
    font-style:italic;
}
#xfMount .attrEditor .dojoInput{
    width:200px;
}
#xfMount .propertyTitle{
    font-size:12pt;
    padding:15px;
    font-size:1.2em;
    color:white;
}
.tundra .dijitMenu, .tundra .dijitMenuBar{
    padding:7px;
    background: #555555;
    color:#eeeeee;
}
/*
#addToolbar{
    padding-top:5px;
    padding-left:5px;
    background:#555555;
    padding:10px;
    color:#e9e9e9;
}
#addToolbar ul{
    display:block;
    list-style-type:none;
    padding:0;
    margin:0;
    margin-left:60px;
    height:18px;
}
#addToolbar .title{
    display:inline;
    padding-right:10px;
    font-size:1.2em;
    float:left;
    margin:1px 1px 1px 10px;
}
#addToolbar ul li{
    display:none;
    padding-right:20px;
}
*/
#docPane #xfDoc .model,
#docPane #xfDoc .group{
    border-radius: 10px 0 0 10px;
    border: 2px solid #cecece;
    margin-bottom: 5px;
    padding:0 10px;
    margin-right:10px;
}

.buttonWrapper{
    display:none;
    position:absolute;
    top:0;
    right:0;
}

.bf #mainWindow .jstree .jstree-clicked .buttonWrapper
{
    display:inline;
}
.jstree-default.jstree-focused {
    background:white;
}
.bf #mainWindow  .jstree-clicked {
    padding:6px 0px 6px 5px;
    width:95%;
    background:#efefef;
    color:#444444;
    border:2px solid #777777;
}
.bf #mainWindow .jstree-hovered{
    width:95%;
    background:#efefef;
    /*color:#eeeeee;*/
    border-color:limegreen;
    border-width: 2px;
    border-radius: 5px;
}
.bf #mainWindow .dijitMenu, .bf #mainWindow .dijitMenuBar {
    background:#444444;
    border:none;
    border-top:1px solid limegreen;
}
.bf #mainWindow .dijitMenuItem{
    color:#e9e9e9;
}
.bf #mainWindow .dijitTextBox {
    color:#333333;
}
.bf #mainWindow .deleteBtn{
    display:none;
}
.bf #mainWindow .jstree-clicked .deleteBtn{
    display:inline;
    float:right;
    margin-top:-18px;
}

.bf #mainWindow .group,
.bf #mainWindow .switch,
.bf #mainWindow .repeat
{
    background-color:#aaaaaa;
}

.bf #mainWindow .input,
.bf #mainWindow .ouput,
.bf #mainWindow .secret,
.bf #mainWindow .range,
.bf #mainWindow .select,
.bf #mainWindow .select1,
.bf #mainWindow .textarea,
.bf #mainWindow .trigger,
.bf #mainWindow .submit,
.bf #mainWindow .upload{
    background-color:#bbbbbb;
}
.bf #mainWindow .label,
.bf #mainWindow .hint,
.bf #mainWindow .help,
.bf #mainWindow .alert{
    background-color:#cccccc;
}

.bf #mainWindow .model{
    background-color:#777777;
    color:#eeeeee;
}

.bf #mainWindow .instance,
.bf #mainWindow .submission,
.bf #mainWindow .bind{
    background-color:#999999;
    color:#eeeeee;
}
.bf #mainWindow .action{
    background-color:orangered;
}
.bf #mainWindow .insert,
.bf #mainWindow .delete,
.bf #mainWindow .setvalue,
.bf #mainWindow .send,
.bf #mainWindow .dispatch,
.bf #mainWindow .message,
.bf #mainWindow .load,
.bf #mainWindow .rebuild,
.bf #mainWindow .recalculate,
.bf #mainWindow .revalidate,
.bf #mainWindow .refresh,
.bf #mainWindow .setfocus,
.bf #mainWindow .setindex,
.bf #mainWindow .toggle,
.bf #mainWindow .reset{
    background-color:orange;
}


dl.keyboard-mapping {
    font-size: 12px;
    margin: 5px 0;
}
dl.keyboard-mapping dt {
    -moz-border-radius: 2px 2px 2px 2px;
    background: none repeat scroll 0 0 #333333;
    color: #EEEEEE;
    display: inline-block;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    margin: 0;
    min-width: 10px;
    padding: 3px 6px;
    text-align: center;
    text-shadow: 1px 1px 0 #000000;
}

dl.keyboard-mapping dt em {
    color: #999999;
    font-family: Helvetica, Arial, freesans, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    padding: 0 4px;
    text-shadow: none;
}

.shortcut {
    font-family: sans-serif;
    font-weight: bold;
}

dl.keyboard-mapping dd {
    color: #666666;
    display: inline;
    margin: 0 0 0 5px;
}

.bfEditorHelpTitle {
    border-bottom: 1px solid #DDDDDD !important;
    font-size: 16px;
    margin: 0 0 10px -10px;
    padding: 0 10px 10px;
    width: 100%;
}
#bfEditorHelp .column1 {
    float:left;
    display:block;
    width:250px;
    position:relative;
}

.dojoxFloatingPaneCanvas {
    margin:10px;
}
.textNode{display:inline;}

.bf #rightPane .dijitTitlePaneTitle {
    color:#777777;
}
.bf #leftPane{
    background:#666666;
}
.bf #leftPane #componentTree{
    width:100%;
    background: #666666;
    margin:0;
    padding: 0;
    border-top: green;
}
.bf #leftPane #componentTree li{
    background:#666666;
    display: none;
}
/*
.bf #leftPane #componentTree li > ul > li{
    text-align: left;
}
*/
.bf #leftPane #componentTree jstree-default{
    padding: 0;
}

.bf #leftPane #componentTree > ul > li
{
    text-align:left;
    background: #555555;
}
.bf #leftPane #componentTree ul .element{
    text-align: right;
}
.bf #leftPane #componentTree ul > li > ul > li{
    text-align:left;
}
.bf #leftPane #componentTree ul > li > ul > li > ul > li{
    text-align:right;
    padding-left: 20px;
    padding-right: 5px;
}


.bf #leftPane #componentTree a{
    color:#dedede;
}
.bf #leftPane #componentTree ins{
    display: none;
}

.bf #leftPane #componentTree .category .action{
    /*background: #91b0c4;*/
    color:#333333;
}
.bf #leftPane #componentTree .category .controls{
    /*background: #245c86;*/
    color:#333333;

}
.bf #leftPane #componentTree .category .container{
    /*background: #7AA7DC;*/
    color:#333333;
}
.bf #leftPane #componentTree .category .common{
    /*background: #3d637c;*/
    color:#333333;
}

.bf #leftPane #componentTree .jstree-clicked{
    background: #32cd32;
    margin-right: -15px;

}
.bf #leftPane #addModeDiv{
    display:inline-block;
    width:100%;
}
.bf .modeSelector{
    height: 22px;
    background: url('../images/switch.gif') repeat-x scroll 0 0 #eeeeee;
    border: none;
    color:#999999;
    width: 50%;
}
.bf .modeSelector.selected{
    background-position: 0 -60px;
    color:#efefef;
}
.bf .modeSelector.selected span{
    background-position: left -150px;
}
.bf .dijitMenuBar{
    border: #efefef;
}
.bf #docWrapper #leftPane #componentTree > ul > li > a{
    color: transparent;
}
