/* ***************************************************************************** */
/* ************** XFORMS CSS STYLESHEET  *************************************** */
/* ***************************************************************************** */

/* ***************************************************************************** */
/* ****************** GENERAL XFORMS MIP AND COMMON-CHILD STYLES *************** */
/* ***************************************************************************** */

/*
    The rules contained in this stylesheet have importance for the execution
    of XForms logic such as hiding/showing non-relevant/relevant elements.

    You may change the rendering of such styles but should do so by overwriting
    these rules in your own stylesheet which you import in the document or by
    inline style rules defined in the document.
*/
.xfDisabled iframe,
.xfDisabled label,
.xfDisabled label ,
.xfDisabled .xfValue,
.xfDisabled span,
.xfDisabled .xfGroupLabel{
    display: none;
}

.xfReadWrite .xfValue a:hover,
.xfReadWrite .xfValue a:focus,
.xfReadWrite .xfValue a:link,
.xfReadWrite .xfValue a:visited,
.xfReadWrite .xfValue a:active  {
	color:#7080A0;

}

.xfReadOnly .xfValue a:focus,
.xfReadOnly .xfValue a:hover,
.xfReadOnly .xfValue a:link,
.xfReadOnly .xfValue a:visited,
.xfReadOnly .xfValue a:active  {
	color:#AFAFAF;
	border:0;
}

.xfReadOnly .xfValue a,
.xfReadOnly .xfValue .dijitButtonNode,
.xfReadOnly .xfValue {
    background: #E4E4E4 url(../images/buttonDisabled.png) repeat-x scroll center top;
    border-color: #D5D5D5 #D5D5D5 #BDBDBD;
    cursor: not-allowed !important;
}

/*********** styles character used for signaling 'required' (normally '*') ***********/

.xfRequired .xfLabel {
}

.xfRequired .xfLabel:after {
    content: '*';
    color: #8b0000;
}

.xfRequired .xfValue .xfLabel {
/*background:url(../images/required.gif) no-repeat left top;*/
    padding-left: 0px;
    font-weight: normal;
}

.xfRequiredEmpty .xfValue{
	border:thin solid #8b0000;
}

.xfSelectOpen .xfValue {
    width: 100%;
}

.xfControl{display:inline-block;}

/* ***************************************************************************** */
/* **************************** REPEAT STYLES  ********************************* */
/* ***************************************************************************** */

.xfRepeatPrototype {
    display: none;
}

.xfRepeatSelector {
/*float: left;*/
}

.xfSelectorPrototype {
    display: none;
}

.xfMinimalRepeat {
    display: block;
}

.xfMinimalRepeat .xfRepeatItem {
    float: left;
    clear: none;
}

.xfMinimalRepeat .xfRepeatIndex {
    float: left;
    clear: none;
}

.xfCompactRepeat td .xfDisabled {
    display: none;
}

/* ***************************************************************************** */
/* **************************** SWITCH STYLES ********************************** */
/* ***************************************************************************** */

.xfSwitch .xfSelectedCase {
    display: inherit;
}

.xfSwitch .xfDeselectedCase {
    display: none;
}

.xfFullSwitch .caFillerTab {
    overflow: hidden;
}

.xfTextarea .dijitEditor{background:white;}

