body{
    margin:0;
    padding:0;
}
#formWrapper{
    padding:0;
    margin:0;
    

}
#content {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	background:transparent none repeat scroll 0 0;
	display:block;
	height:100%;
	overflow:auto;
	width:100%;
	float:none;
}

.pageMarginBox{
	margin-left:auto;
	margin-right:auto;
	width:800px;
}
.header {
	font-size: 16pt;
	color: gray;
	border-bottom: thin solid gray;
}

tr.xfRepeatHeader  td {
	font-weight: bold;
	padding-right: 5px;
}

#embedInline{
    padding:10px;
}

#embedTarget{
	height:600px;
}
#embedDialog{
    width:600px;
    height:400px;
}

.InlineRoundBordersAlert #embedDialog  .caVerticalTable {
    border: none;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#embedDialog .xfGroup{
    display:block;
}

#embedDialog .dijitDialogPaneContent{
    overflow:auto;
}
#embedDialog .caVerticalTableLabel{
    width:100px;
}
#embedDialog .caVerticalTableValue{
    width:250px;
}

#embedDialog .bfVerticalTableInfo{
    width:200px;
}

#embedDialog .xfControl .xfValue{
    width:100%;
}

#embedDialog .caLabelColumn{
    text-align:right;
    padding-right:5px;
}
#embedDialog .bfCellWrapperValue .xfValue{
    width:125px;
}

.caTabContainer {
	overflow: hidden;
}

tr.xfRepeatItem  td {
	padding-right: 5px;
}

/* project column */
.caTableCol-1 {
	text-align: left;
	width: 11ex;
}

/* date column */
.caTableCol-2 {
	text-align: left;
	width: 11ex;
}

/* time column */
.caTableCol-3 {
	text-align: right;
}

/* time column */
.caTableCol-4 {
	text-align: left;
}

/* time column */
.caTableCol-5 {
	text-align: left;
}

/* note column */
.caTableCol-6 {
	overflow: hidden;
}

/* time column */
.caTableCol-7 {
	text-align: left;
}

/* time column */
.caTableCol-8 {
	text-align: right;
}

#task-table{
	height:380px;
}
#task-table span .xfControl {
	display: block;
	/*margin-left: 5px;*/
}
#task-table .xfValue{
	width:100%;
}
#task-table .caHorizontalColumn{
	width:100%;
}
#task-table .caHorizontalColumn  .xfValue{
	width:50%;
}

.xsdDate .xfValue {
	width:80px;
}

.listing .xfSelectorItem {
	display:block;
}

#overall-time-label {
	display: inline;
	margin-right: 2em;
}

#result-list {
	height: 390px;
	overflow-y: scroll;
}

.dijitButton{
    margin:0.2em 0;
}
.tundra .embedDialog .dijitCheckBox{
    width:20px;
}

/*data table (list-items.xql) styles*/
#taskTable{
    border:none;
    border-collapse:collapse;

}
#taskTable th,#taskTable td{
    padding:5px;
    border:thin solid steelBlue;
}
#taskTable th{
    background:#b0c4de;
}