.dijitTabPaneWrapper {
	height: auto !important;
	width: 100% !important;
	border: none !important;
	padding-top: 0px;
}

.dijitTabContainerTop-tabs,.dijitTabContainerTop-spacer {
	display: none;
}

.xfCase {
	display: block !important;
	height: auto !important;
}

.xfCase>.xfContainer {
	padding: 0px !important;
}

.xfSwitch {
	height: 300px !important;
	display: block;
	border: none;
	padding-top: 0px;
}

.xfTrigger,.xfSubmit {
	display: none;
}

[caseid="AddressSupplier"] .xfGroupLabel {
	left: 0pt;
}

[caseid="AddressDeliveryParty"] {
	display: inline-block;
	position: relative !important;
	top: -285pt !important;
	left: 500pt !important;
	overflow: visible;
}

[caseid="AddressDeliveryParty"] .xfGroup {
	overflow: visible;
}

[caseid="AddressDeliveryParty"] .xfContainer .xfControl .xfLabel {
	display: none;
}

[caseid="AddressDeliveryParty"] .xfGroupLabel {
	left: 7pt;
}

[caseid="AddressDeliveryParty"] * .xfControl.adp-loccode {
	position: relative;
	top: 16pt;
	overflow: visible;
	left: -120pt
}

[caseid="AddressDeliveryParty"] * .xfControl.adp-loccode .xfLabel {
	display: inline-block;
	position: relative;
	left: -379pt;
}

[caseid="AddressBuyer"] {
	position: relative !important;
	top: -152pt !important;
	left: 340pt !important;
}

[caseid="AddressBuyer"] .xfContainer .xfControl .xfLabel {
	display: none;
}

[caseid="AddressBuyer"] .xfGroupLabel {
	left: 7pt;
}

.consignment {
	position: relative;
	top: 20pt;
}

#flags {
	display: none;
}

.noLabel > .xfLabel, .noLabel > .xfGroupLabel, .xfCase * .xfGroupLabel {
    display: inline-block !important;
}
