<div class="xfTimeControl xfValue"
    ><!--<input
        type="text" dojoAttachPoint="hoursFacet" value="" class="xfTimeHours" style="padding-right:4px;width:18px" maxlength="2"
    />--><select dojoAttachPoint="hoursFacet" value="" class="xfTimeHours" style="padding-right:4px;width:18px" maxlength="2">
    <option/>
    <option>00</option>
    <option>01</option>
    <option>02</option>
    <option>03</option>
    <option>04</option>
    <option>05</option>
    <option>06</option>
    <option>07</option>
    <option>08</option>
    <option>09</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
</select>:<!--<input
        type="text" dojoAttachPoint="minutesFacet" value="" class="xfTimeMinutes" style="padding-right:4px;width:18px" maxlength="2"
    />--><select dojoAttachPoint="minutesFacet" value="" class="xfTimeMinutes" style="padding-right:4px;width:18px" maxlength="2">
    <option/>
    <option>00</option>
    <option>05</option>
    <option>10</option>
    <option>15</option>
    <option>20</option>
    <option>25</option>
    <option>30</option>
    <option>35</option>
    <option>40</option>
    <option>45</option>
    <option>50</option>
    <option>55</option>
</select>:<!--<input type="text" dojoAttachPoint="secondsFacet" value="" class="xfTimeSeconds" style="padding-right:4px;width:18px" maxlength="2"
/>--><select dojoAttachPoint="secondsFacet" value="" class="xfTimeSeconds" style="padding-right:4px;width:18px" maxlength="2">
    <option/>
    <option>00</option>
    <option>05</option>
    <option>10</option>
    <option>15</option>
    <option>20</option>
    <option>25</option>
    <option>30</option>
    <option>35</option>
    <option>40</option>
    <option>45</option>
    <option>50</option>
    <option>55</option>
</select></div>
