<div class="xfDropDownDateControl"
    ><input class="xfValue" type="hidden" dojoAttachPoint="valueNode" value=""
    />
    <span class="xfDropDownDate">
    <select size="1" dojoType="dijit.form.ComboBox" dojoAttachPoint="daysFacet" class="xfDropDownDateDays">
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
    </select>
    <select size="1" dojoType="dijit.form.ComboBox" dojoAttachPoint="monthsFacet" class="xfDropDownDateMonths">
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
    </select>
    <select size="1" dojoType="dijit.form.ComboBox" dojoAttachPoint="yearsFacet" class="xfDropDownDateYears">
        <option>2010</option>
        <option>2011</option>
        <option>2012</option>
    </select>
    </span>
</div>
