
.docTitle {font-weight: bold; font-size: 20pt;}

.xforms-invalid
{
  background-color: red;
}

.xforms-disabled
{
  visibility: hidden
}

body {
  padding: 2em 1em 2em 40px;
  margin: 0;
  font-family: sans-serif;
  font-size: 9pt;
  color: black;
  background: white;
}

xf\:label.title, .xforms-label.title, p.title 
{
    font-size: 15pt; 
    font-weight: bold;
    color: #000099;
    margin-bottom: 2em;
}

xf\:label.subtitle, .xforms-label.subtitle
{
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 2em;
}

xf\:label, .xforms-label
{
	font-size: 9pt;
	color: black;
	margin-bottom: 1em;
}

xf\:group, .xforms-group
{
    PADDING-RIGHT: 0.5em;
    DISPLAY: block;
    PADDING-LEFT: 0.5em;
    PADDING-BOTTOM: 1em;
    PADDING-TOP: 1em;
}


h1 {color: black;}
h2 {color: black;}
.testChapterTitle {padding: 5px;}
.driverPageTitle {width: 993px; background-color:	RGB(216,216,216); padding: 5px;}

.testCaseNameTitle {color:white; background-color:#4169E1; width: 86px; font-weight: bold; text-align:center;}
.specLevelTitle {color:white; background-color:#4169E1; width: 48px; font-weight: bold; text-align:center;}
.testCaseDescriptionTitle {color:white; background-color:#4169E1; width: 356px; font-weight: bold; text-align:center;}
.testCaseSpecLinkTitle {color:white; background-color:#4169E1; font-weight: bold; width: 92px; text-align:center;}
.testCaseBasicTitle {color:white; background-color:#4169E1; width: 50px; font-weight: bold; text-align:center;}
.testCaseStatusTitle {color:white; background-color:#4169E1; width: 108px; font-weight: bold; text-align:center;}
.testCaseNormativeTitle {color:white; background-color:#4169E1; width: 64px; font-weight: bold; text-align:center;}
.testCaseDateTitle {color:white; background-color:#4169E1; width: 108px; font-weight: bold; text-align:center;}
.testCaseNoteTitle {color:white; background-color:#4169E1; width: 143px; font-weight: bold; text-align:center;}

.testCaseName {color: blue; text-decoration: underline; width: 100px;}
.testCaseNameGray {color: gray; width: 150px;}
.testCaseDescription {width: 348px;}
.testCaseSpecLink {color: blue; text-decoration: underline; width: 80px;}
.testCaseBasic {width: 60px;}
.testCaseNormative {width: 67px;}
.testCaseStatus {width: 100px;}
.testCaseDate {width: 170px;}
.testCaseNote {width: 150px;}

/*in used in test case 5.5*/
.hlist {display:inline;}
.inlinebold{display:inline; font-weight:bold;}
.bold{font-weight:bold}
.block{display:block;}
.addrLabel{display:inline; padding-left:1px; background-color:#B0C4DE; color:white; font-weight:bold; width:356px; height:30px;}
.editButton{display:inline; padding-left:1px; background-color:#B0C4DE; font-weight:bold; width:40px; height:28px; padding-top:2px;}
.editNameButton{display:inline; width:40px; height:43px;  padding-top:2px; padding-left:1px; background-color:#B8B8B8; font-weight:bold;}
.entryTitle{width:356px; text-align:center; vertical-align:middle; height:35px; background-color:#B8B8B8; color:white; font-size:large;
			font-weight:bold; font-family:Tahoma,sans-serif; margin-bottom:3px; padding-top:5px; padding-bottom:5px; text-align:center;}
.bG{background-color:#708090; width:400px;}
.white {color:white;font-weight:900;}

.xforms-repeat .xforms-contextcontainer {display: table-row; width: 100%}
.xforms-trigger[appearance="minimal"].testCaseName span {display: table-cell; width: 100px; color: blue;}
.xforms-output.testCaseDescription span.xf-value{ display: table-cell; width: 410px;}
.xforms-trigger[appearance="minimal"].testCaseSpecLink span {display: table-cell; width: 105px; color: blue;}
.xforms-output.testCaseBasic span.xf-value {display: table-cell; width: 55px;}
.xforms-output.testCaseNormative span.xf-value {display: table-cell; width: 80px;}
.xforms-input.testCaseNote {width:150px;}
/*.xforms-select1.testCaseStatus span.-moz-select1-container {display: table-cell; width: 100px;} Firefox only. */
/*.xforms-input.testCaseDate {display: table-cell; width: 100px;}*/

