/* 
    Document   : reference.css
    Created on : Oct 19, 2009, 1:48:59 PM
    Author     : Jörn Turner <joern.turner (at) betterform.de>,
                 Fabian Otto <fabian.otto (at) betterform.de>
    Description:
        Styling for refrence pages.
*/
body {
    margin: 3px;
}

#caLoading {
    top: 0;
    right: 5px;
}

#navMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#boilerPlate {
    margin: 100px;
}

#static {
    margin-left: 40px;
}

#mountPoint {
    margin: 10px;
}

#toc {
    border: thin solid #AAAAAA;
    float: right;
    margin: 0 0 10px 10px;
    padding: 10px;
    /*
        position:fixed;
        right:10px;
        top:10px;
    */
    background: #dedede;
}

.tocEntry {
    display: block;
    padding: 3px;
}

.tocEntry a, .tocEntry a:visited {
    color: #005A9C;
}

table {
    clear: both;
}

#explorer {
    width: 80%;
}

/*
#xforms{
    margin-left:auto;
    margin-right:auto;
    width:620px;
}
*/

.contentBody .dijitTabPaneWrapper > .dijitContentPane {
    padding: 10px;
}

.pagetitle, #content h1, #boilerPlate h1, .page h1 {
    font-size: 2.2em; /*margin-left:8px;*/
    color: #708090;
}

.titlecode {
    font-size: 1.1em;
    font-family: monospace;
}

.Headline {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    color: #708090;
}

.pageintro .Section {
    font-size: 12pt;
}

.Section {
    /*
                    border-width: 1px;
                    border-color: black;
                    border-style: dotted;
    */
/*margin: 10px;*/
    padding: 10px;

}

.Section .PageDescription, h2 {
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #708090;
}

.Section .PageDescription a {
    font-size: 1.2em;
    color: #444444;
}

.pageintro .Section p, .page p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: #333333;
}

.Section .Headline {
    font-size: 18pt;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    color: #488aa6;
    border-bottom: 3px solid;
}

.Section .Subheadline {
    font-size: 12pt;
    text-align: left;
    padding-top: 1.35em;
    padding-bottom: 5px;
    font-weight: bold;
    color: #708090;
}

.Section .Description {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: #333333;
    font-size: 1.1em;
}

.Notes {
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.Section .markup {
/* border-top: 1px gray dotted; */
    border: thin dotted #d3d3d3;
    margin-bottom: 12px;
}

.Section .markup .Headline {
    color: #708090;
    font-size: 14px;
    margin: 5px;
}

pre {
/* background: silver; */
    font-family: monospace;
    padding: 0px 0px 0px 8px;
}

pre, code {
    border-width: 0px; /*background:#ddddff;*/
/*background:white;*/
    background-color: LightYellow;
    font-size: 1.0em;
    overflow: auto;
}

.model {
    background: #dddddd;
    padding: 3px;
    border: thin solid #cccccc;
}

.Sample {
/*background-color: LightYellow;*/
    vertical-align: middle;
    padding: 15px;
    overflow: auto;
    border: thin dotted #d3d3d3;
    font-size: 14px;
    background: #eee;
}

.dateSample .xfControl {
    display: block;
}

.tundra .dijitTitlePaneContentInner {
    padding: 4px;
}

.soria .dijitTitlePaneContentInner {
    padding: 0;
}

.soria .dijitCheckBox {
    background-image: url('../images/spriteCheckbox.gif');
}

#imageTrigger-value {
    background: url(../../images/bf_logo_67x27.png) no-repeat center;
    width: 100px;
    height: 40px;
}

.MIPS .xsdBoolean {
    margin: 5px;
}

.xfRequired .xfLabel, .xfLabel {
    padding-left: 0px;
    padding-right: 5px;
}

.MIPS {
/*background-color: LightYellow;*/
    vertical-align: middle;
    padding: 15px;
    overflow: auto;
    border: thin dotted #d3d3d3;
    font-size: 14px;
}

.MIPS .xfFullGroup .xfControl .xfLabel {
    width: 60px;
}

.MIPS .xfFullGroup .xfControl {
    display: inline-block;
}

.longDate .xfLabel {
    width: 275px !important;
}

.cssReference {
    width: 100%;
}

.cssReference th {
    white-space: nowrap;
    padding: 3px 10px 3px 3px;
    background: #D3D3D3;
}

.cssReference td {
    padding: 3px 10px 3px 3px;
    background: #eeeeee;
}

.cssReference .col1 {
    width: 15%;
}
