/* 
    Document   : reference.css
    Created on : Oct 19, 2009, 1:48:59 PM
    Author     : Jörn Turner <joern.turner (at) betterform.de>,
                 Fabian Otto <fabian.otto (at) betterform.de>
    Description:
        Styling for refrence pages.
*/
body {
    margin: 0;
    padding: 0;
}

#caLoading {
    top: 0;
    right: 5px;
}

#navMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#boilerPlate {
    margin: 100px;
}

#static {
    margin-left: 40px;
}

#mountPoint {
    margin: 10px;
}

table {
    clear: both;
}

#explorer {
    width: 80%;
}

#xforms {
    font-size: 12pt;
    color: #7080A0;
    margin-top: 45px;
}

#xforms p {
    margin: 0;
}

#xforms .pageintro h1 {
    font-size: 1.8em;
}

#xforms .pageintro .description p {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    line-height: 1;
}

.pageintro #references {
    margin-top: 20px;
}

.pageintro #references td {
    font-size: 0.8em;
}

.Section {
    padding: 20px;
    border: thin dotted #cccccc;

}

#xforms .markup {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

#xforms .sample {
    padding: 20px;
    background: #eeeeee;
}

#xforms .CSS {
    font-size: 0.9em;
}

#xforms .CSS th {
    padding: 3px;
    background: #7080A0;
    color: #eeeeee;
}

#xforms .CSS td {
    padding: 3px;
}

/*
#xforms{
    margin-left:auto;
    margin-right:auto;
    width:620px;
}
*/

.contentBody .dijitTabPaneWrapper > .dijitContentPane {
    padding: 10px;
}

.pagetitle, #boilerPlate h1, .page h1 {
    font-size: 2.2em; /*margin-left:8px;*/
    color: #708090;
}

.titlecode {
    font-size: 1.1em;
    font-family: monospace;
}

.keyword {
    font-family: monospace;
}

/*
.Headline {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    color: #708090;
}
*/

/*
.pageintro .Section {
    font-size: 12pt;
}
*/

.Section .PageDescription, h2 {
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #708090;
    margin-bottom: 0;
}

.Section .PageDescription a {
    font-size: 1.2em;
    color: #444444;
}

.pageintro .Section p, .page p {
    /*
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        color: #333333;
    */
}

.Section .markup {
/* border-top: 1px gray dotted; */
    border: thin dotted #d3d3d3;
    margin-bottom: 12px;
}

pre {
/* background: silver; */
    font-family: monospace;
    padding: 0px 0px 0px 8px;
}

pre, code {
    border-width: 0px; /*background:#ddddff;*/
/*background:white;*/
    background-color: LightYellow;
    font-size: 1.0em;
    overflow: auto;
}

.model {
    background: #dddddd;
    padding: 3px;
    border: thin solid #cccccc;
}

/*
.Sample {
    vertical-align: middle;
    padding: 15px;
    overflow: auto;
    border: thin dotted #d3d3d3;
    font-size: 14px;
    background: #eee;
}
*/

.dateSample .xfControl {
    display: block;
}

.tundra .dijitTitlePaneContentInner {
    padding: 4px;
}

.soria .dijitTitlePaneContentInner {
    padding: 0;
}

.soria .dijitCheckBox {
    background-image: url('../images/spriteCheckbox.gif');
}

#imageTrigger-value {
    background: url(../../images/bf_logo_67x27.png) no-repeat center;
    width: 100px;
    height: 40px;
}

.MIPS .xsdBoolean {
    margin: 5px;
}

.xfRequired .xfLabel, .xfLabel {
    padding-left: 0px;
    padding-right: 5px;
}

.MIPS {
/*background-color: LightYellow;*/
    vertical-align: middle;
    padding: 15px;
    overflow: auto;
    border: thin dotted #d3d3d3;
    font-size: 14px;
}

.MIPS .xfFullGroup .xfControl .xfLabel {
    width: 60px;
    text-align: right;
}

.MIPS .xfFullGroup .xfControl {
    display: inline-block;
}

.longDate .xfLabel {
    width: 275px !important;
}

.xfRange .xfAlert {
    border: none;
    color: #801B1B;
    font-size: 0.8em;
    margin: -45px;
    padding: 2px;
}

/* code highlighting */
pre code {
    color: #7ba841;
    font-weight: bold;
}

pre code .tag {
    color: #005A9C;
}

pre code .attribute .value {
    color: #C46B47 !important;
}